body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.container {
  flex: 1;
}

/* Navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* Footer */
.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
  margin-right: 1rem;
}

.f-info-links a:hover {
  text-decoration: underline;
}

/* Listings */

.listing-link {
  text-decoration: none;
  color: #222222;
}

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
  transition: opacity 0.2s ease-in-out;
}

.listing-card:hover {
  opacity: 0.8;
}

.listing-img {
  width: 100% !important;
  height: 20rem;
  object-fit: cover;
  border-radius: 1rem;
}

.card-img-top {
  border-radius: 1rem;
}

.card-body {
  padding: 0.5rem 0 0 0 !important;
}

.card-text {
  font-weight: 400 !important;
  color: #222222 !important;
  margin-bottom: 0;
  text-align: left;
  line-height: 1.4;
}

.listing-card {
  border: none !important;
}

.card-text b {
  font-weight: 600;
}

.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

.add-btn:hover {
  background-color: #fe424d !important;
  opacity: 0.8 !important;
}

.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* SHOW PAGE */

.show-page {
  max-width: 800px;
}

.show-heading {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.show-card {
  border: none !important;
}

.show-img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 1rem;
}

.show-card .card-body {
  padding-top: 0.75rem !important;
}

.show-card .card-text {
  font-size: 1.15rem;
  line-height: 1.6;
  color: #222222;
}

.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

.edit-btn:hover {
  opacity: 0.85;
}

.review-section h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.review-section label {
  font-size: 1.2rem;
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 12px;
  margin-top: 1rem;
}
